{% extends 'game/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('appVue') }}
{% endblock %}

{% block body %}
    <div id="app">
        <ships-storage-component></ships-storage-component>
        <board-component></board-component>
    </div>
{% endblock %}
