@import "palette";

#login-container {
  padding: 5em 25%;

  #form-login {
    background-color: $form-login-background;
    padding: 5em;
    border: 1px solid $form-login-border-color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $form-login-box-shadow-color;

    #other-links {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid $other-links-border-color;
    }
  }
}