@import "palette";

.kind-of-game-choices {
  margin-bottom: 1em;

  .choice-div {
    label {
      padding: 10em 2em;
      border: 1px solid black;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      width: 100%;
      text-align: center;
      background-color: $kind-of-game-choice-label-background;
      box-shadow: 1px 1px 1px 1px $kind-of-game-choice-label-shadow;
    }

    input[type=radio] {
      opacity: 0;
      width: 1px;
      height: 1px;

      & + label {
        &:hover, &:focus, &:active {
          box-shadow: 1px 1px 11px 1px black;
        }
      }

      &:checked + label {
        box-shadow: 1px 1px 11px 1px red;
      }
    }
  }
}

.buttons {
  #goToArrange {
    border-radius: 8px;
    min-width: 100px;
  }
}