$board-cell-background: hsl(140, 25%, 68%);
$board-cell-background-hover: hsl(140, 75%, 68%);
$board-cell-background-disable: hsl(140, 75%, 68%);
$board-cell-border: black;

$ship-component-border: gray;

$ships-storage-component-background: brown;