<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% block nav %}{% endblock %}
            <div class="col-3 col-md-2 aside-container">
                {% block aside %}{% endblock %}
            </div>
            <div class="col-9 col-md-10 body-container">
                {% block body %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>
