{% extends 'base.html.twig' %}

{% block title %}Tetriso Ships{% endblock %}

{% block body %}
    <div id="homepage-container" class="col-12">
        <div id="homepage-body" class="col-12">
            <h1>Tetriso Ships welcome!</h1>

            <a class="link-light btn btn-primary col-3" href="{{ path('app_login') }}">Sign in</a>
        </div>
    </div>
{% endblock %}