{% extends 'base.html.twig' %}

{% block body %}
    Hello! Homepage

    <button class="btn btn-primary" type="button"><a class="link-dark" href="{{ path('app_login') }}">Sign in</a></button>
{% endblock %}