<aside id="main-aside">
    <ul>
        <li>
            Game
            <ul>
                <li><a class="btn btn-primary" href="{{ path('app_game_arrange') }}">Play!</a></li>
                <li></li>
            </ul>
        </li>
    </ul>

</aside>